$brown-color:#D87D4A;
$brown-white-color:#FBAF85;
$dark-green-color:#101010;
$grey-color:#F1F1F1;
$white-grey-color:#FAFAFA;
$white-color:#ffff;
$dark-color:#000000;
$dark-white-color:#4C4C4C;
$header-color:#0E0E0E;

$body-ff: "Manrope", sans-serif;


